/* styles */

body {
  font-family: monospace;
  max-width: 720px;
  margin: auto;
  padding: 12px;
  color: #454545;
}

a {
  color: #0077aa;
}

a:visited {
  color: initial;
}

.cover {
  width: 18rem;
}

p {
  line-height: 1.2rem;
}

hr {
  border: 0.1px solid #444;
}
