/* styles */

body {
  font-family: monospace;
  max-width: 720px;
  margin: auto;
  padding: 12px;
  color: #454545;
}

a {
  color: #0077aa;
}

a:visited {
  color: initial;
}

.cover {
  width: 100%;
  max-width: 18rem;
}

p {
  line-height: 1.2rem;
}

hr {
  border: 0.1px solid #444;
}

ul {
  margin: 0;
  padding: 0;
}

#gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.photo {
  list-style: none;
  height: 12rem;
  width: 12rem;
}

.image {
  width: 100%;
  height: 100%;
}
